#toast {
    position: fixed;
    z-index: 1;
    top: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    left: 10%;
    height: 40px;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    transition: margin-top .2s cubic-bezier(.74, 0, .24, 1);
}

#lists {
    margin-top: 40px;
}

#menu {
    width: 100%;
    padding: 10px;
}

#menu h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #827397;
    cursor: pointer;
}


#mainCont {
    max-height: calc(100vh - 32px);
    overflow-y: scroll;
}

.fullscreened #mainCont {
    max-height: 100vh;
    overflow-y: scroll;
}

#sideMenu {
    transition: all cubic-bezier(0, .45, 0, .99) .3s;
    width: 300px;
    height: calc(100vh - 32px);
    position: absolute;
    top: 32px;
    left: -300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

.fullscreened:not(.showTitlebar) #sideMenu {
    top: 0 !important;
    height: 100vh;
}

.sideMenu-open {
    transition: all cubic-bezier(0, .45, 0, .99) .3s;
    left: 0 !important;
}

.sideItem {
    width: 100%;
    height: 32px;
    padding: 0 5px 5px;
    font-size: 22px;
    vertical-align: middle;
    line-height: 22px;
}

.sideItem .icon {
    position: relative;
    top: 5px;
}

.hisItem {
    width: 100%;
    height: 32px;
    padding: 5px 5px 5px 25px;
    margin: 0;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    font-family: "Segoe MDL2 Assets";
    margin: 10px;
}