#toast {
    position: fixed;
    z-index: 1;
    top: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    left: 10%;
    height: 40px;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    transition: margin-top .2s cubic-bezier(.74, 0, .24, 1);
}

#lists {
    margin-top: 40px;
}

#menu {
    width: 100%;
    padding: 10px;
}

#menu h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #827397;
    cursor: pointer;
}


#mainCont {
    max-height: calc(100vh - 32px);
    overflow-y: scroll;
}

.fullscreened #mainCont {
    max-height: 100vh;
    overflow-y: scroll;
}

#sideMenu {
    transition: all cubic-bezier(0, .45, 0, .99) .3s;
    width: 300px;
    height: calc(100vh - 32px);
    position: absolute;
    top: 32px;
    left: -300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 100;
}

.fullscreened:not(.showTitlebar) #sideMenu {
    top: 0 !important;
    height: 100vh;
}

.sideMenu-open {
    transition: all cubic-bezier(0, .45, 0, .99) .3s;
    left: 0 !important;
}

.sideItem {
    width: 100%;
    height: 32px;
    padding: 0 5px 5px;
    font-size: 22px;
    vertical-align: middle;
    line-height: 22px;
}

.sideItem .icon {
    position: relative;
    top: 5px;
}

.hisItem {
    width: 100%;
    height: 32px;
    padding: 5px 5px 5px 25px;
    margin: 0;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bookmarkItem {
    width: 100%;
    height: 32px;
    padding: 5px;
    margin: 0;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.icon {
    font-family: "Segoe MDL2 Assets";
    margin: 10px;
}

.scrim {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: #000000;
    display: none;
}

.scrim.show {
    opacity: 0.8;
    display: initial;
}

.modal {
    transition: all .5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    width: 50vw;
    z-index: 10000;
    max-width: 600px;
    top: 50vh;
    left: 50vw;
    padding: 20px;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

.modal.show {
    animation: modalOpen .3s forwards cubic-bezier(0, .45, 0, .99);
    display: initial;
}

.modal.hide {
    animation: modalClose .3s forwards cubic-bezier(0, .45, 0, .99);
    display: initial;
}

@keyframes modalOpen {
    0% {
        transform: translateX(-50%) translateY(-50%) scale(.8);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalClose {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) scale(.8);
        opacity: 0;
    }
}

.modalMenu {
    float: right;
    cursor: pointer;
}