
#view-text-progress-option {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 0;
    overflow: hidden;
    cursor: pointer;
}

#view-text-progress-option div {
    padding: 10px;
    font-size: 20px;
}

#view-text-progress-option div:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

#view-text-progress-option div:active {
    background: rgba(255, 255, 255, 0.2) !important;
}

#view-text-progress-option.open {
    transition: height 0.3s cubic-bezier(0, .45, 0, .99);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 170px;
}

#view-text-progress-option.close {
    opacity: 0;
    transition: opacity 0.15s cubic-bezier(0, .45, 0, .99);
    height: 130px;
}

#bookmark {
    transition: all cubic-bezier(0, .45, 0, .99) .3s;
    width: 300px;
    height: calc(100vh - 32px);
    position: fixed;
    top: 32px;
    right: -300px;
    z-index: 100;
    overflow-y: scroll;
    padding-top: 60px;
}

.fullscreened:not(.showTitlebar) #bookmark {
    top: 0 !important;
    height: 100vh;
}

.bookmark-open {
    transition: all cubic-bezier(0, .45, 0, .99) .3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    right: 0 !important;
}

#bookmark-title {
    padding: 15px;
    margin-top: -60px;
    width: 100%;
    position: fixed;
}